@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;900&family=JetBrains+Mono:wght@700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Outfit", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

body {
  background-color: #f8fafc; /* slate-50 */
  color: #1e293b; /* slate-800 */
  overflow: hidden;
  touch-action: none;
}
